@CHARSET "ISO-8859-1";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.clr {
	clear: both;
}

a {
	text-decoration: none;
}

.container {
	
	display: flex;
	width: 100%;
	height: 100%;
	padding-left: 2px;
	padding-right: 2px;
	border-top: 1px solid #000;
}

.container .scrollbar3>ul.tab {
	list-style-type: none;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

.container .scrollbar3>ul.tab li {
	float: left;
}

/* Style the links inside the list items */
.container .scrollbar3>ul.tab li a {
	display: inline-block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 17px;
}

.container .scrollbar3>ul.tab li a:hover {
	background-color: #ccffcc;
}

.container .scrollbar3>ul.tab li a:focus, .active {
	background-color: #b3ffb3;
}

.tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
	background-color: #ccffcc;
}

.sidebar {
	width: 335px;
	/*display: flex;*/
	background: #34393d;
	height: 760px;
	/*flex-flow: column;*/
	color: #fff;
	padding-bottom: 2px;
}

.sidebar a {
	color: #fff;
}

.sidebar form input[type="search"] {
	width: 100%;
	border-radius: 4px;
	border: 1px solid #ddd;
	padding: 5px;
	box-sizing: border-box;
	color: #808080;
	outline: none;
}

.sidebar h1 {
	background: #19a0c5;
	line-height: 80px;
	margin: 0;
	padding: 0 30px;
}

ex1 {
	margin-left: 30px;
}

h2 {
	background: #19a0c5;
	height: 80px;
	padding: 10px 100px;
}

h6 {
	text-align: center;
}

#composenew {
	text-align: center;
	border: 1px solid #fff;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

#inbox {
	text-align: center;
	border: 1px solid #fff;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

#searchby {
	text-align: center;
	border: 1px solid #fff;
}

#collapser {
	text-align: center;
	border: 1px solid #fff;
}

#mnc {
	text-align: center;
	border: 1px solid #fff;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.scrollbar {
	margin-left: 0px;
	float: left;
	height: 667px;
	width: 100%;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.force-overflow {
	min-height: 450px;
}

#style-5::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #F5F5F5;
}

#style-5::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}

#style-5::-webkit-scrollbar-thumb {
	background-color: #0ae;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255,
		.2)), color-stop(.5, transparent), to(transparent));
}

select {
	height: 30px;
}

th {
	padding-left: 20px;
}

td {
	padding-right: 20px;
}

td.ex {
	padding-right: 15px;
	padding-left: 41px;
}

td.ax {
	padding-right: 10px;
	padding-left: 41px;
	color: #FFF;
	font-weight: bold;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	transition: background-color .3s ease;
}

.sidebar .logo {
	margin-top: 0;
}

.sidebar .main-nav {
	margin: 10px 0px;
	line-height: 50px;
}

.sidebar .main-nav>ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.btn {
	background-color: #44c4e7;
}

.sidebar .main-nav>ul>li {
	transition: background-color .3s ease;
}

.sidebar .main-nav>ul>li.active, .sidebar .main-nav>ul>li:hover {
	background: #40464b;
}

.sidebar .main-nav>ul>li>a {
	padding: 20px 30px;
	display: block;
	color: #999;
	font-weight: 700;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.sidebar .main-nav #inbox>ul>li>.btn {
	width: 150px
}

.sidebar .main-nav>ul>li>ul {
	list-style: none;
	margin: 0;
	padding: 10px 0;
}

.sidebar .main-nav>ul>li>ul.labels {
	border-top: 1px solid #555;
	margin-top: 20px;
}

.sidebar .main-nav>ul>li>ul>li {
	transition: background-color .3s ease;
	padding: 10px 30px;
}

.sidebar .main-nav>ul>li>ul>li.active, .sidebar .main-nav>ul>li>ul>li:hover
	{
	background: #4b5359;
}

.sidebar .main-nav>ul>li>ul>li .btn {
	font-size: .875rem;
	padding: 5px;
	float: right;
	position: relative;
	top: -4px;
}

.sidebar .main-nav>ul>li>ul>li .label {
	width: 20px;
	height: 20px;
	display: inline-block;
	top: 0;
}

.sidebar .main-nav>ul>li>ul>li a {
	color: #999;
}

/*
.scrollbar3>ul>li.active {
	background: #44c4e7;
	
}

.scrollbar3>ul>li a:hover {
	
}
*/
.main {
	-webkit-flex: 1;
	height: 760px;
	background: #f5f5f5;
}

.main .header {
	background: #44c4e7;
	min-height: 80px;
}

.main .header form {
	padding: 20px;
	display: inline-block;
}

#searchby  input[type="search"] {
	background: #80bfff;
	border: none;
	border-radius: 3px;
	line-height: 35px;
	width: 150px;
	padding: 0 10px;
	outline: none;
}

#searchby  input[type="search"]::-webkit-input-placeholder {
	color: #fff;
}

.inner-addon {
	position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
	position: absolute;
	padding: 10px;
	pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon {
	left: 0px;
}

.right-addon .glyphicon {
	right: 50px;
	top: 8px;
}

/* add padding  */
.left-addon input {
	padding-left: 30px;
}

.right-addon input {
	padding-right: 30px;
}

.main .header ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.main .header .nav-right {
	float: right;
	padding-top: 10px;
	padding-right: 30px;
}

#training {
	margin-top: 20px;
}

.main .header .nav-settings a {
	color: #fff;
}

.main .header .nav-settings li {
	display: inline-block;
}

.main .header .nav-settings li:hover {
	background: #2dbde4;
}

.main .header .nav-settings li a {
	padding: 0 20px;
	color: #fff;
	display: inline-block;
}

.table {
	padding-left: 10px;
}

.messages {
	/*order: 1;*/
	width: 100%;
	background: #fff;
	border-right: 1px solid #DDD;
	border-bottom: 3px solid #777;
}

.messages h1 {
	margin: 0;
	padding: 20px;
	text-align: center;
	font-weight: 400;
	color: #777;
	border-bottom: 1px solid #DDD;
}

.messages form {
	padding: 20px;
	background: #FCFCFC;
}

.messages form input[type="search"] {
	width: 100%;
	border-radius: 4px;
	border: 1px solid #ddd;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
}

.messages .message-list {
	padding: 0;
	margin: 0;
	list-style: none;
	border-bottom: 1px solid #ddd;
}

.messages .message-list li {
	background: #F8F6F4;
	transition: background-color .3s ease;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-right: 3px solid #1cb3dc;
	padding: 10px 20px;
	display: flex;
	cursor: pointer;
}

.messages .message-list li input[type="checkbox"] {
	appearance: none;
	cursor: pointer;
	margin: 5px 10px 0 0;
	order: 1;
	width: 15px;
	height: 15px;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 3px;
}

.messages .message-list li input[type="checkbox"]:checked {
	background: #EFEFEF;
}

.messages .message-list li .preview {
	flex: 1;
	order: 2;
}

.messages .message-list li .preview h3 {
	margin: 0;
	font-weight: 400;
	color: #333;
}

.messages .message-list li .preview h3 small {
	float: right;
	color: #AAA;
	font-size: .8125rem;
}

.messages .message-list li .preview p {
	color: #888;
	margin: 5px 0;
}

.messages .message-list li:hover {
	background: #fff;
}

.messages .message-list li.active {
	background: #fd9162;
	border-right: 3px solid rgba(0, 0, 0, 0.1);
}

.messages .message-list li.active .preview h3, .messages .message-list li.active .preview h3 small,
	.messages .message-list li.active .preview p {
	color: #fff;
}

.messages .message-list li.new {
	background: #fff;
	border-right: 3px solid #44c4e7;
}

.message {
	width: 100%;
	-webkit-flex: 1;
	/*order: 2;*/
	background: #fff;
	border-top: 3px solid #777;
}

.message h2 {
	margin: 0;
	padding: 20px 30px;
	font-weight: 400;
	text-align: center;
}

.message .meta-data {
	margin: 10px 30px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	line-height: 50px;
	color: #0f0f0f;
	text-align: center;
}

.message .meta-data .user {
	color: #fd9162;
}

.message .meta-data img {
	display: inline;
	vertical-align: middle;
	margin-right: 20px;
	border-radius: 3px;
}

.message .meta-data .date {
	float: right;
	color: #aaa;
}

.message .body {
	padding: 20px 30px;
}

.message .action {
	background: #fcfcfc;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 20px 30px;
}

.message .action .options {
	list-style: none;
	margin: 0;
	padding: 0;
}

.message .action .options li {
	float: left;
}

.message .action .options li:first-child {
	border-right: 1px solid #ddd;
}

.message .action .options li:first-child a {
	padding-left: 0;
}

.message .action .options li a {
	color: #888;
	padding: 0 10px;
}

.message .action .options li a.active {
	color: #333;
}

.message .action .textarea {
	background: #fff;
	padding: 10px;
	border: 1px solid #ddd;
	position: relative;
	margin: 20px 0;
}

.message .action .textarea:before {
	content: '';
	display: block;
	border: 10px solid transparent;
	border-bottom: 10px solid #FFF;
	position: absolute;
	top: -19px;
	left: 25px;
	-webkit-filter: drop-shadow(0 -1px 0 #ddd);
}

textarea {
	height: 100px;
	resize: none;
	/* Remove this if you want the user to resize the textarea */
}

.message .action .textarea textarea {
	width: 100%;
	min-height: 300px;
	appearance: none;
	border: none;
	resize: none;
	outline: none;
	margin-bottom: 50px;
}

.message .action .textarea .fileupload {
	background: #FCFCFC;
	border: 1px solid #ddd;
	padding: 10px;
	color: #888;
	justify-content: space-between;
}

.message .action .textarea .fileupload .fileinfo {
	flex: 1;
}

.message .action .textarea .fileupload .progress {
	width: 80%;
	border: 1px solid #ddd;
	background: #fff;
	padding: 2px;
}

.message .action .textarea .fileupload .progress .bar {
	background: #44c4e7;
	width: 65%;
	text-align: right;
	color: #fff;
	padding: 3px;
	font-size: .75rem;
}

.footer {
	padding-top: 10px;
	color: #777;
	border-top: 1px solid #e5e5e5;
	background: #44c4e7;
	min-height: 5px;
	width:100%;
	/*position: absolute;
  	right: 0;
  	bottom: 0;
  	left: 0;*/
}



#Message {
	width: 100%;
}

#middleside {
	float: right;
	padding-top: 15px;
	padding-right: 50%;
}

#rightside {
	float: right;
	padding-top: 15px;
	padding-right: 30%;
}

#docrow {
	padding-left: 10px;
}

.scrollbar2 {
	margin-left: 0px;
	float: left;
	height: 250px;
	width: 100%;
	overflow-y: scroll;
	margin-bottom: 25px;
}

#rotate {
	/* Rotate div */
	-ms-transform: rotate(270deg); /* IE 9 */
	-webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
	transform: rotate(270deg);
}

.force-overflow2 {
	min-height: 200px;
}

.scrollbar3 {
	margin-left: 0px;
	float: left;
	height: 400px;
	width: 100%;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.force-overflow3 {
	min-height: 200px;
}

h5 {
	text-align: center;
}

#Table1 {
	text-align: center;
}

#Table2 {
	text-align: center;
}

#Table3 {
	text-align: center;
}

#style-4::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar-thumb {
	background-color: #0ae;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255,
		.2)), color-stop(.5, transparent), to(transparent));
}

#formGroup {
	padding-left: 15px;
	padding-right: 30px;
}

#formGroup #inputarea {
	margin-right: 15px;
}

tr {
	mso-height-source: auto;
}

col {
	mso-width-source: auto;
}

br {
	mso-data-placement: same-cell;
}

.style33 {
	background: #A5A5A5;
	mso-pattern: black none;
	color: white;
	font-size: 11.0pt;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	mso-font-charset: 0;
	border: 2.0pt double #3F3F3F;
	mso-style-name: "Check Cell";
	mso-style-id: 23;
}

.style0 {
	mso-number-format: General;
	text-align: general;
	vertical-align: bottom;
	white-space: nowrap;
	mso-rotate: 0;
	mso-background-source: auto;
	mso-pattern: auto;
	color: black;
	font-size: 11.0pt;
	font-weight: 400;
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	mso-font-charset: 0;
	border: none;
	mso-protection: locked visible;
	mso-style-name: Normal;
	mso-style-id: 0;
}

td {
	mso-style-parent: style0;
	padding-top: 1px;
	padding-right: 1px;
	padding-left: 1px;
	mso-ignore: padding;
	color: black;
	font-size: 11.0pt;
	font-weight: 400;
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	mso-font-charset: 0;
	mso-number-format: General;
	text-align: general;
	vertical-align: bottom;
	border: none;
	mso-background-source: auto;
	mso-pattern: auto;
	mso-protection: locked visible;
	white-space: nowrap;
	mso-rotate: 0;
}

.xl65 {
	mso-style-parent: style0;
	border: .5pt solid windowtext;
}

.xl66 {
	mso-style-parent: style0;
	text-align: center;
	vertical-align: middle;
	border: .5pt solid windowtext;
	white-space: normal;
}

.xl67 {
	mso-style-parent: style0;
	border: .5pt solid windowtext;
	white-space: normal;
}

.xl68 {
	mso-style-parent: style0;
	text-align: center;
	border-top: .5pt solid windowtext;
	border-right: none;
	border-bottom: none;
	border-left: none;
	white-space: normal;
}

.xl69 {
	mso-style-parent: style0;
	text-align: center;
	border-top: .5pt solid windowtext;
	border-right: none;
	border-bottom: none;
	border-left: .5pt solid windowtext;
	white-space: normal;
}

.xl70 {
	mso-style-parent: style0;
	text-align: center;
	border-top: .5pt solid windowtext;
	border-right: .5pt solid windowtext;
	border-bottom: none;
	border-left: none;
	white-space: normal;
}

.xl71 {
	mso-style-parent: style0;
	text-align: center;
	vertical-align: top;
	border-top: none;
	border-right: none;
	border-bottom: .5pt solid windowtext;
	border-left: .5pt solid windowtext;
	white-space: normal;
}

.xl72 {
	mso-style-parent: style0;
	text-align: center;
	vertical-align: top;
	border-top: none;
	border-right: none;
	border-bottom: .5pt solid windowtext;
	border-left: none;
	white-space: normal;
}

.xl73 {
	mso-style-parent: style0;
	text-align: center;
	vertical-align: top;
	border-top: none;
	border-right: .5pt solid windowtext;
	border-bottom: .5pt solid windowtext;
	border-left: none;
	white-space: normal;
}

.xl74 {
	mso-style-parent: style0;
	text-align: center;
	border-top: none;
	border-right: .5pt solid windowtext;
	border-bottom: .5pt solid windowtext;
	border-left: .5pt solid windowtext;
	white-space: normal;
}

.xl75 {
	mso-style-parent: style0;
	border-top: none;
	border-right: .5pt solid windowtext;
	border-bottom: .5pt solid windowtext;
	border-left: .5pt solid windowtext;
}

.xl76 {
	mso-style-parent: style33;
	color: white;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
	border: .5pt solid windowtext;
	background: #A5A5A5;
	mso-pattern: black none;
	white-space: normal;
}

.x0l65 {
	mso-style-parent: style0;
	text-align: center;
	vertical-align: middle;
	border: .5pt solid windowtext;
}

.x0l66 {
	mso-style-parent: style0;
	border: .5pt solid windowtext;
	text-align: center;
}

.x00l66 {
	height: 100px;
	mso-style-parent: style0;
	border: .5pt solid windowtext;
	text-align: center;
	vertical-align: text-top;
}

.x0l67 {
	mso-style-parent: style16;
	color: white;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
	border: 2.0pt double #3F3F3F;
	background: #A5A5A5;
	mso-pattern: black none;
	white-space: normal;
}

.x0l68 {
	mso-style-parent: style0;
	border: .5pt solid windowtext;
	white-space: normal;
	text-align: center;
}

.x0l69 {
	mso-style-parent: style0;
	text-align: center;
	vertical-align: top;
	border-top: none;
	border-right: none;
	border-bottom: .5pt solid windowtext;
	border-left: .5pt solid windowtext;
	white-space: normal;
}

.x0l70 {
	mso-style-parent: style0;
	text-align: center;
	vertical-align: top;
	border-top: none;
	border-right: none;
	border-bottom: .5pt solid windowtext;
	border-left: none;
	white-space: normal;
}

.x0l71 {
	mso-style-parent: style0;
	text-align: center;
	vertical-align: top;
	border-top: none;
	border-right: .5pt solid windowtext;
	border-bottom: .5pt solid windowtext;
	border-left: none;
	white-space: normal;
}

.x0l72 {
	mso-style-parent: style0;
	text-align: center;
	border-top: .5pt solid windowtext;
	border-right: none;
	border-bottom: none;
	border-left: .5pt solid windowtext;
	white-space: normal;
}

.x0l73 {
	mso-style-parent: style0;
	text-align: center;
	border-top: .5pt solid windowtext;
	border-right: none;
	border-bottom: none;
	border-left: none;
	white-space: normal;
}

.x0l74 {
	mso-style-parent: style0;
	text-align: center;
	border-top: .5pt solid windowtext;
	border-right: .5pt solid windowtext;
	border-bottom: none;
	border-left: none;
	white-space: normal;
}

#Table2>table {
	text-align: center;
}

#Table3>table {
	border: 1px solid black;
	border-collapse: collapse;
}

#Table3>tr>td {
	border: 1px solid black;
	border-collapse: collapse;
}

#table3head {
	text-align: center;
	font-weight: normal;
}

.member tr:hover {
	background-color: #eff5dc;
}

.selected {
	background-color: #b3ffb3;
}

.tooltip {
	display: none;
	position: absolute;
	border: 1px solid #333;
	background-color: #161616;
	border-radius: 5px;
	padding: 10px;
	color: #fff;
	font-size: 12px Arial;
}
/*
.scrollbar2 .force-overflow2 .table tr:hover{
	background-color: #F0F8FF;
}

.scrollbar2 .force-overflow2 .table tr:focus, .active{
	background-color: #b3ffb3;
}
*/
.member {
	counter-reset: tableCount;
}

.counterCell:before {
	content: counter(tableCount);
	counter-increment: tableCount;
}

.msgID {
	display: none;
}

.grid {
	width: 1250px;
	height: 250px;
}

.grid2 {
	width: 100%;
	height: 850px;
}

.grid3 {
	width: 1210px;
	height: 550px;
}

.grid4 {
	width: 2000px;
	height: 550px;
}

.grid5 {
	width: 755px;
	height: 550px;
}

/*Row color test*/
.High-Light-Style {
  background-color: #b3ffb3 !important;
}

/*spliter*/
.splitter-horizontal {
  flex: 0 0 auto;
  height: 18px;
  background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/hsizegrip.png) center center no-repeat #535353;
  cursor: row-resize;
}

/*#upper {
	height: 260px;
	border-bottom: 1px solid #000;
}*/

.panel-top {
  flex: 0 0 auto;
  /* only manually resize*/
  padding: 10px;
  height: 260px;
  width: 100%;
  /*white-space: nowrap;
  background: #838383;
  color: white;*/
}


.panel-container-vertical {
  display: flex;
  flex-direction: column;

  overflow: hidden;
}

.panel-bottom {
  flex: 1 1 auto;

}

